#traiteur{
    margin-bottom: 2em;
    padding: 5em 0;
    position: relative;
    h3{
        text-align: center;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3em;
        img{
            width: 46%;
            height: auto;
        }
        .texte{
            width: 48%;
        }
    }
    &::after{
        content: '';
        position: absolute;
        background: #F5F4F0;
        top: 0;
        width: 100vw;
        height: 65%;
        z-index: -1;
    }
}


/*
Responsive
*/
@media screen and(max-width:900px){
    #traiteur{
        margin-bottom: 0;
        .flex{
            img{
                width: 35%;
            }
            .texte{
                width: 60%;
            }
        }
    }
}

@media screen and(max-width:700px){
    #traiteur{
        .flex{
            flex-direction: column;
            img{
                width: 60%;
                display: none;
            }
            .texte{
                width: 100%;
            }
        }
        &::after{
            height: 100%;
        }
    }
}