#stef-aure{
    margin: 7em 0;
    padding: 2em 0;
    position: relative;
    min-height: 0;
    h2{
        margin-top: 0;
    }
    .flex{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        img{
            width: 50%;
        }
        .texte{
            width: 45%;
        }
    }
}

#histoire{
    padding: 5em 0;
    position: relative;
    text-align: center;
    min-height: 0;
    background: #F5F4F0;
    h4{
        margin-bottom: 3em;
    }
    .texte{
        margin: 0 auto;
    }
}

.travaux{
    text-align: center;
    margin-top: 5em;
    h3{
        margin-bottom: 1em;
    }
}

#project{
    margin-top: 2em;
    h3{
        margin-bottom: 1em;
    }
}


/*
Responsive
*/
@media screen and(max-width:900px){
    #stef-aure{
        margin: 5em 0;
        .flex{
            .texte{
                width: 55%;
            }
            img{
                width: 35%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media screen and(max-width:700px){
    #stef-aure{
        margin: 3em 0;
        .flex{
            flex-direction: column-reverse;
            align-items: flex-start;
            .texte{
                width: 100%;
            }
            img{
                margin-top: 1em;
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}